/* .navbar {
    margin-bottom: 0;
    background-color: #061e21;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
} */
/*
#cctext {
    padding-top: 20px;
}
*/
.navbar li a,
.navbar .navbar-brand {
    /* color: #fff !important;
    background-color: #061e21; */
}

#navigationSection {
    background-color: #061e21;
}

.navbar-nav li a:hoover,
.navbar-nav li.active a {
    color: #002d33 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/* .mega-dropdown-menu>li>ul>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
    background-color: #002d33;
} */


/*nav extra*/

/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700); */
body {
    font-family: 'Open Sans', 'sans-serif';
    /* background: #f0f0f0; */
  /* background: url(https://pcbx.us/bfjb.jpg); */
}

h1,
.h1 {
    font-size: 36px;
    text-align: center;
    font-size: 5em;
    color: #404041;
}
/*
.navbar-nav>li>.dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
    width: 200px;
    font-weight: bold;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #0c1a1e;
}

.dropdown-menu {
    background-color: #002d33;
}

.mega-dropdown {
    position: static !important;
    width: 100%;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}

.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu>li ul>li>a:hover,
.mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
    color: #444;
    background-color: #272727;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
} */


/*nav extra  #002d33  */


/*jumboo*/

.jumbotron {
    background-color: #002d33;
    color: #ffffff;
    padding: 100px 25px;
}


/*app download icons css start*/

.big-btn {
    padding: 10px 0px 11px 0px;
    width: 215px;
    margin-top: 5px;
}

.big-btn i {
    font-size: 65px;
    margin-right: 0px !important;
}

.big-btn strong {
    font-size: 25px;
    text-shadow: 1px 2px 0px #34659B;
    color: #fff;
    line-height: 24px;
}

.big-btn .btn-text {
    margin-top: 6px;
}

.big-btn small {
    font-size: 75%;
}

.android-btn {
    width: 240px;
    padding: 13px 17px 13px 0px;
    background-color: #000;
    border-color: #000;
}

.android-btn:hover {
    background-color: #272727;
}

.android-btn i {
    font-size: 55px;
}

.android-btn .btn-text {
    margin-top: 0px;
}

.android-btn strong {
    font-size: 25px;
    text-shadow: none;
    color: #fff;
    line-height: 24px;
}

.windows-btn {
    background-color: #008A00;
    width: 235px;
    padding: 13px 5px 13px 10px;
    border-color: #055805;
}

.windows-btn:hover {
    background-color: #008A00;
}

.windows-btn .btn-text {
    text-shadow: none;
    font-size: 26px;
    line-height: 25px;
}


/*app download icons css ends*/

.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px;
}


/*Add an orange color to all icons and set the font size*/

.logo-small {
    color: #002d33;
    font-size: 50px;
}

.logo {
    color: #002d33;
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}


/*carousel section*/

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #002d33;
}

.carousel-indicators li {
    border-color: #002d33;
}

.carousel-indicators li.active {
    background-color: #002d33;
}

.item,
h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #002d33;
    border-radius: 0;
    transition: box-shadow 0.5s;
}

.panel-footer .btn:hover {
    border: 1px solid #002d33;
    background-color: #fff !important;
    color: #002d33;
}

.panel-heading {
    color: #fff !important;
    background-color: #002d33 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #002d33;
    color: #fff;
}


/*what our customers say css carousel*/


/*(big testimony)carousel section*/

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #002d33;
}

.carousel-indicators li {
    border-color: #002d33;
}

.carousel-indicators li.active {
    background-color: #002d33;
}


/*before*/


/* carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}


/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}


/* Previous button  */

#quote-carousel .carousel-control.left {
    left: -12px;
}


/* Next button  */

#quote-carousel .carousel-control.right {
    right: -12px !important;
}


/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}


/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
}

#quote-carousel img {
    width: 250px;
    height: 100px
}


/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    margin-left: -50px;
    margin-top: -50px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    margin-right: -50px;
    margin-top: -50px;
}


/**
  MEDIA QUERIES
*/


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}


/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}


/*end of big testmony*/


/*footer css strat*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer {
    /* #0c1a1e*/
    background-color: #002d33;
    min-height: 350px;
    font-family: 'Open Sans', sans-serif;
}

.footerleft {
    margin-top: 50px;
    padding: 0 36px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}

.footerleft p {
    color: #fff;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.footerleft p i {
    width: 20px;
    color: #999;
}

.paddingtop-bottom {
    margin-top: 50px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.footer-ul li {
    line-height: 29px;
    font-size: 12px;
}

.footer-ul li a {
    color: #a0a3a4;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
    margin-right: 10px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #ff670f;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 40px;
    background-color: #000000;
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #d9d6d6;
    margin-bottom: 22px;
}

.post p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
}

.post p span {
    display: block;
    color: #8f8f8f;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: #FFF;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #FFF;
    font-size: 12px;
}


/*footer css end*/
